#auth-interstitial {
  max-width: 950px;
  margin: auto;

  aside {
    display: none;
    position: relative;
  }

  .row {
    display: flex;
    min-height: 93vh;
    align-items: center;
    justify-content: center;
  }

}

.auth-container {
  margin: 0 0 10px;
  padding: 30px 43px;
  text-align: center;
  width: 350px;
  border-radius: 1px;
  box-sizing: border-box;

  a {
    color: $blue;
    text-decoration: none;
  }

  a:active {
    opacity: 0.5;
  }

  #or {
    color: $gray;
    font-weight: 600;
    background: $lightest-gray;
    display: inline-block;
    position: relative;
    top: 16px;
    font-size: 13px;
    padding: 0 18px;
  }

  #line {
    height: 1px;
    margin: 9px 0 21px;
    background: #c7c7c7;
  }

  #pitch {
    font-weight: 600;
    font-size: 17px;
    margin: 19px 0;
    color: $gray;
  }

  input, button {
    border: 1px solid $light-gray;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 9px 0 7px 8px;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 6px;
    font-weight: 300;
    color: black;
  }

  ::-webkit-input-placeholder {
    color: $gray;
  }
  ::-moz-placeholder {
    color: $gray;
  }
  :-ms-input-placeholder {
    color: $gray;
  }
  :-moz-placeholder {
    color: $gray;
  }

  input:focus {
    outline: none;
    border-color: $gray;
  }

  input[type='submit'], button {
    background: $blue;
    color: white;
    font-weight: 500;
    border: 0;
    margin-top: 12px;
    line-height: 26px;
    cursor: pointer;
    padding: 0 8px;
  }
}

#auth-errors {
  color: $red;
  margin-top: 14px;

  div {
    margin: 5px 0;
  }
}

.fa {
  margin-right: 5px;
}

@media only screen and (min-width: 450px) {
  .auth-container {
    background: white;
    border: 1px solid $light-gray;
  }
  .auth-container #or {
    background: white;
  }
}

// TODO: Implement Keyframes Mixin
// @mixin keyframes( $animationName )
// {
//     @-webkit-keyframes $animationName {
//         @content;
//     }
//     @-moz-keyframes $animationName {
//         @content;
//     }
//     @-o-keyframes $animationName {
//         @content;
//     }
//     @keyframes $animationName {
//         @content;
//     }
// }
//
// @include keyframes( fade-screenshots )
// {
//   0% { opacity: 0; animation-timing-function: ease-in; }
//   15% { opacity: 1;  }
//   50% { opacity: 1; animation-timing-function: ease-out; }
//   75% { opacity: 0 }
//   100% { opacity: 0 }
// }

@keyframes fade-screenshots {
    0% { opacity: 0; animation-timing-function: ease-in; }
    5% { opacity: 1;  }
    50% { opacity: 1; animation-timing-function: ease-out; }
    75% { opacity: 0 }
    100% { opacity: 0 }
}

@-webkit-keyframes fade-screenshots {
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1;  }
  50% { opacity: 1; animation-timing-function: ease-out; }
  75% { opacity: 0 }
  100% { opacity: 0 }
}
@-moz-keyframes fade-screenshots {
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1;  }
  50% { opacity: 1; animation-timing-function: ease-out; }
  75% { opacity: 0 }
  100% { opacity: 0 }
}
@-o-keyframes fade-screenshots {
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1;  }
  50% { opacity: 1; animation-timing-function: ease-out; }
  75% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes fade-screenshots {
  0% { opacity: 0; animation-timing-function: ease-in; z-index: 9; }
  5% { opacity: 1;  }
  50% { opacity: 1; animation-timing-function: ease-out; }
  75% { opacity: 0 }
  100% { opacity: 0 }
}

@media only screen and (min-width: 855px) {
  #auth-interstitial {


    aside {
      display: block;

      #screenshots {
        position: absolute;
        width: 253px;
        top: 104px;
        left: 159px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          -webkit-animation: fade-screenshots 20s linear infinite 0s;
          -moz-animation: fade-screenshots 20s linear infinite 0s;
          -o-animation: fade-screenshots 20s linear infinite 0s;
          animation: fade-screenshots 20s linear infinite 0s;
        }

        img:nth-child(2) {
          -webkit-animation-delay: -10s;
          -moz-animation-delay: -10s;
          -o-animation-delay: -10s;
          animation-delay: -10s;
        }

      }
    }
  }
}
