#feed {
  width: 600px;
  margin: auto;
}

.feed-post {
  border-radius: 3px;
  border: 1px solid $light-gray;
  background: white;
  margin-bottom: 60px;

  img {
    width: 100%;
  }

  .post-author {
    padding: 16px;
    display: flex;
    align-items: center;

    a {
      margin-right: 10px;
      text-decoration: none;
      font-weight: 600;
      color: $light-black;
    }

    img {
      width: 30px;
    }
  }

}

.feed-post-details {
  padding: 16px;

  .feed-icons {
    margin-bottom: 10px;

    .fa {
      cursor: pointer;
      font-size: 25px;
      color: #ed4956;
    }

    i.fa.unliked{
      color: $light-black;
    }
  }


  .like-count {
    font-weight: 600;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: $light-black;
    font-weight: 600;
  }
}

.feed-post-caption {
  line-height: 1.2;
  margin-bottom: 10px;

  a {
    margin-right: 5px;
  }
}
