#feed {
  width: 600px;
  margin: auto;

  #welcome {
    text-align: center;
    padding: 18px 25px;
    margin-bottom: 20px;
    color: $gray;
    font-weight: 400;
    line-height: 1.5;

    strong {
      color: black;
      font-weight: 600;
    }
  }
}

.feed-post {
  border-radius: 3px;
  border: 1px solid $light-gray;
  background: white;
  margin-bottom: 60px;

  img {
    width: 100%;
    display: block;
  }

  .post-author {
    padding: 16px;
    display: flex;
    align-items: center;

    a {
      margin-right: 10px;
      text-decoration: none;
      font-weight: 600;
      color: $light-black;
    }

    img {
      width: 30px;
      border-radius: 100%;
    }
  }

}

.feed-post-details {
  padding: 16px;

  .full-comment {
    margin-bottom: 5px;
  }



  .like-count {
    font-weight: 600;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: $light-black;
    font-weight: 600;
  }
}

.feed-post-caption {
  line-height: 1.2;
  margin-bottom: 8px;

  a {
    margin-right: 5px;
  }
}
