#loading-bar {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 4px;
  background:  #27c4f5
  linear-gradient(to right,
  #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5
  );
  background-size: 500%;
  animation: 2s linear infinite barprogress, .3s fadein;

  &.ten-percent {
    width: 10%;
  }

  &.twenty-percent {
    width: 20%;
  }

  &.forty-percent {
    width: 40%;
  }

  &.sixty-percent {
    width: 60%;
  }

  &.seventy-percent {
    width: 70%;
  }

  &.eighty-percent {
    width: 80%;
  }

  &.ninety-percent {
    width: 90%;
  }

}

@keyframes barprogress {
 0% {
 background-position: 0% 0
 }
 to {
 background-position: 125% 0
 }
}
