#post-modal {
  display: flex;

  #post-container {
    width: 950px;
    margin: auto;
    background: white;
    display: flex;
    height: 600px;
    z-index: 50;
    position: relative;

    .image {
      width: 600px;

      img {
        width: 100%;
      }
    }
  }
}

.post-date {
  text-transform: uppercase;
  color: $gray;
  font-size: 10px;
}

.post-details #post-author-details .avatar {
    position: relative;
    display: inline-block;
    width: 40px;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 100%;
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
}


#post-author-details {
  border-bottom: 1px solid $light-gray;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-right: 25px;

  a {
    text-decoration: none;
    font-weight: 600;
    color: black;
  }

  .avatar img {
      border-radius: 100%;
      width: 100%;
    }

}


.post-details {
  padding: 25px 0 25px 25px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .caption {
    margin-top: 10px;
    line-height: 1.3;
    margin-bottom: 7px;

    a {
      display: inline-block;
      margin-right: 4px;
      text-decoration: none;
      font-weight: 600;
      color: black;
    }
  }

  .post-date {
    margin-top: 10px;
  }

}
#profile {
  .like-comments {
    margin-right: 25px;
  }
}
.like-comments {
  border-top: 1px solid $light-gray;
  padding-top: 10px;

  .icons {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .like-count {
    font-weight: 600;
  }
  .fa {
    color: $light-black;
    position: static;
    font-size: 25px;
    cursor: pointer;
    margin-right: 16px;
  }

  i.fa.liked{
    color: $red;
  }
}

#profile .like-comments button, .like-comments button {
  padding: 0;
}

input#keyboard-nav {
  width: 0px;
  height: 0px;
  padding: 0px;
  position: absolute;
  left: -99999em;
}
