#profile {
  #details {
    display: flex;
    margin-bottom: 50px;
  }
  .avatar > div {
    position: relative;
    display: inline-block;
    width: 150px;
  }
  .avatar > div:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  .avatar {
    width: 293px;
    margin-right: 30px;
    text-align: center;

    img {
      width: 100%;
      border-radius: 100%;
    }

  }
  .username {
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 20px;
  }
  .bio {
    font-size: 16px;
  }
  .full-name {
    font-weight: 600;
    margin-right: 5px;
  }
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .posts > div {
    margin-bottom: 30px;
  }
}
