/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "variables.scss";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "components/*";


html {
  // margin-left: calc(100vw - 100%);
  overflow-y: scroll;
  &.modal-open {
    overflow: hidden;
  }
}

body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica,
                Arial, sans-serif;
  box-sizing: border-box;
  background: #fafafa;
  font-size: 14px;
}

#main-contain {
  max-width: 935px;
  margin: 120px auto 0;
}

.modal-open {
  overflow: hidden;
}

.general-errors {
  color: $red;
}

.instants-container {
  border: 1px solid #e6e6e6;
  background: white;
  border-radius: 3px;
}
